

.menu{
    position : fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    align-items: flex-end;
    z-index: 3;
    &__left{
        width: 42.5%;
        background-color: $darkBlue;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .img__message{
        height: 30px;
        width: 42px;
    }
    &__center{
        width: 15%;
        background-color: $darkBlue;
        border-top-left-radius: 35%;
        border-top-right-radius: 35%;
        &__rounded{
            height: 70px;
        }
    }
    &__right{
        width: 42.5%;
        background-color: $darkBlue;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .img__disney{
        height: 50px;
        width: 70px;
    }
    .img__profil{
        height: 40px;
        width: 45px;
    }
}